@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-image: url("berghain_line.png");
    background-size: cover;
    font-family: "Space Mono", monospace;
    font-weight: bold;
    text-align: center;
    height: 100vh;

}

.content {
    max-width: 80%;
    margin: auto;
    border: 2px solid;
    border-radius: 10px;
}


h1,
h2,
button {
    text-shadow: 2px 2px 10px black;
    color: #ffec9c;
}


#results {
    background: linear-gradient(10deg, black, #811e73);
    opacity: 90%;
    border-radius: 15px;
    padding: 5px;
    color: #d400ff;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #400000;
}

#save-btn {
    background: #d400ff;
}